/*css files add styling rules to you content */

body {
  margin: 0rem;
  font-family: "Fjalla One", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Pattaya", sans-serif;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.com/78b347a6-b9c0-4bef-a894-6b176c5e3e0a%2Frsz_1pawel-czerwinski-3k9pgkwt7ik-unsplash.jpg?v=1621651192253);
  color: black;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0.5);
  backgroun-blend-mode: darken;
}

.cover-small {
  height: 200px;
  backgroun-blend-mode: normal;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0.06);
}

.card-title {
  min-height: 3rem;
}
.car-tex {
  min-height: 10rem;
}

.product-stripe{
  overflow-x:scroll;
  padding-top:1rem;
  padding-bottom: 1rem;
}

.stripe-container {
  display:flex;
}

.stripe-container .card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}
