/*css files add styling rules to you content */

body {
  margin: 0em;
}

.cover {
  height: 400px;
  background-image:url(https://cdn.glitch.com/78b347a6-b9c0-4bef-a894-6b176c5e3e0a%2Frsz_1pawel-czerwinski-3k9pgkwt7ik-unsplash.jpg?v=1621651192253);
  color:black;
  background-size: cover;
  background-position:center;
  background-color:rgba(0,0,0.5);
  backgroun-blend-mode: darken ;
}
